@import "home/homeC.css";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 16px;
}

@font-face {
  font-family: GS;
  src: url(/fonts/GillSans.ttc);
}
@font-face {
  font-family: PN;
  src: url(/fonts/Proxima-Nova-Thin.otf);
}
@font-face {
  font-family: PC;
  src: url(/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
.site-container {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 500px;
}

.headers {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 100px;
}
.headers h1 {
  font-family: PC;
  font-size: 30px;
  margin-left: 210px;
}

nav {
  position: fixed;
  height: 92px;
  width: 60%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: black solid;
}
nav .logo {
  height: 42px;
  width: 96px;
}
nav .links a {
  text-decoration: none;
  text-transform: lowercase;
  height: 42px;
  color: black;
  font-size: 15px;
  font-family: GS;
  width: 300px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav .links span {
  color: #79addc;
}

.home {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 100px;
}
.home h2 {
  font-size: 30px;
  font-family: PC;
  margin-left: 200px;
  margin-bottom: -20px;
}
.home .offer {
  width: 100%;
  min-height: 280px;
  margin-left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 42px;
}
.home .offer h1 {
  font-size: 30px;
  font-family: PC;
  padding-left: 21px;
}
.home .offer img {
  width: 200px;
  height: 280px;
}
.home .offer .infoSO {
  max-width: 400px;
  position: relative;
}
.home .offer .infoSO span {
  padding-left: 30px;
  color: orange;
}
.home .offer .infoSO p {
  width: 290px;
  font-size: 16px;
  font-family: GS;
  padding-left: 21px;
}
.home .offer .infoSO .learnMore {
  background-color: #79addc;
  border-radius: 20px;
  color: #fff;
  padding: 11px 21px;
  font-size: 15px;
  font-family: GS;
  border: none;
  text-transform: uppercase;
  text-transform: uppercase;
  width: 133px;
  position: absolute;
  bottom: 0;
  margin-left: 21px;
}

@media only screen and (max-width: 800px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .offer {
    margin-top: 10px;
  }

  .infoSO {
    margin-top: 10px;
  }

  .learnMore {
    margin-top: 10px;
  }
}
.infoBlog .datePicture {
  max-width: 1280px;
  min-height: 350px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 35px;
}
.infoBlog .datePicture .date {
  height: 80px;
  width: 80px;
  background-color: #79addc;
  margin-right: 20px;
}
.infoBlog .datePicture .date p {
  font-size: 12px;
  font-family: GS;
  color: white;
}
.infoBlog .datePicture .date p span {
  font-size: 22px;
}
.infoBlog .datePicture img {
  width: 980px;
  height: 200px;
}

@media only screen and (max-width: 800px) {
  .infoBlog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.infoB {
  width: 30%;
  min-height: 500px;
  margin-top: -150px;
  margin-left: 505px;
}
.infoB p {
  font-family: GS;
  font-size: 12px;
  color: #79addc;
}
.infoB p span {
  color: black;
  font-size: 15;
  padding-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  .infoB {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer {
  width: 100%;
  height: 92px;
  margin-left: auto;
  margin-right: auto;
  background-color: #79addc;
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 150px;
  margin-top: 50px;
}
footer img {
  width: 96px;
  height: 42px;
}
footer .copyright {
  color: white;
  font-family: GS;
  font-size: 12px;
}
footer .media img {
  -webkit-filter: white;
          filter: white;
  height: 23px;
  width: 23px;
}